@import '../../styles/index.scss';

input {
    all: unset;
}
::placeholder {
    color: $gray-600;
}


.URL-Form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    font-family: $Open-Sans;

    .URLFormWoSubmit {
        background-color: $gray;
        padding: 1.5*$spacing-lg;
        padding-right: 2*$spacing-lg;
        padding-left: 2*$spacing-lg;
    
        width: clamp(200px, 60%, 600px);
        border-radius: $border-lg;
    
        transition: $transition;
        box-shadow: $shadow-sm;
        .InputGroup {
            padding-top: $spacing-lg;
            padding-bottom: $spacing-lg;
                        

            .InputDescription {
                font-family: $Open-Sans-SemiBold;
                font-size: $font-lg;
                color: $gray-600;
            }
            .InputField{
                font-size: $font-lg;
                opacity: 1;
            }
        }
    }

    .URLFormWoSubmit:hover {
        box-shadow: $shadow-md;
    }

    .btn-submit {
        box-shadow: $shadow-sm;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        
        
        margin-top: 2*$spacing-lg;
        background-color: $gray;
        padding: 2*$spacing-lg;
    
        width: clamp(200px, 60%, 600px);
        border-radius: $border-full;
        transition: $transition;

        font-family: $Open-Sans-SemiBold;
        font-size: $font-lg;
    }
    .btn-alert {
        background-color: $secondary;
        padding: 200px;
    }

    .btn-submit:hover{
        box-shadow: $shadow-md;
        cursor: pointer;
        background-color: $primary;
    }
}





