@font-face {
    font-family: 'OpenSans Regular';
     src: url(./OpenSans-Regular.ttf);
   }

@font-face {
    font-family: 'OpenSans SemiBold';
     src: url(./OpenSans-SemiBold.ttf);
}

body {
    font-family: 'OpenSans Regular', Helvetica, Arial, sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: minmax(100vw, 1fr);
    grid-template-rows: minmax(90vh, 1fr);
    align-items: center;
    justify-content: center;
    background-color: #303030;
    color: #fafafa;
}

h1 {
    font-family: 'OpenSans SemiBold', Helvetica, Arial, sans-serif;
    text-align: center;
}
