$blue : #2A9D8F;
$primary : $blue;
$secondary : #E09F7D;

$black: #303030;

// gray
$gray: #424242;
$gray-600: #757575;


$white: #FAFAFA;
$white-2: #9e9e9e;

$green-bg:  #314e4b;

$red: #E07D7D;
$alert-red: #E07D7D;