@import '../../styles/index.scss';

.Button {    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    padding: 1.5*$spacing-lg;
    padding-top: 1.25*$spacing-lg;
    padding-bottom: 1.25*$spacing-lg;

    border-radius: $border-full;
    background-color: $gray;
    width: clamp(200px, 50%, 400px);

    box-shadow: $shadow-sm;
    transition: $transition;
    border: none;
}
.Button:hover {
    background-color: $primary;
    box-shadow: $shadow-md;
    transform: scale(1.02);
}

.ButtonText {
    font-size: $font-lg;
    font-family: $Open-Sans-SemiBold;
}
